header {
  background-attachment: fixed;
  /*     border-top: 2px solid rgba(192, 80, 25, 0.5019607843);
    border-bottom: 2px solid rgba(192, 80, 25, 0.5019607843); */
  background-image: url("../../public/images/imagemHeader.jpg");
}

.userBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /*     height: 1rem; */
  padding: 20px 40px 20px 20px;
  gap: 0.3rem;
  color: #fff3f1;
}

.userBar a {
  display: flex;
  min-width: 60px;
  padding: 0.5rem;
  justify-content: center;
  background-color: #ad9479;
  border-radius: 0.5rem;
}

.userBar a:hover {
  font-weight: bold;
  background-color: #82694e;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mainHeader img {
  max-height: 8rem;
  max-width: 8rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 3px;
}
.navbar a {
  padding: 0.5rem;
  background-color: #ad9479;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.navbar a:hover {
  font-weight: bold;
  background-color: #82694e;
}

@media (max-width: 800px) {
  /*...HEADER...*/
  .mainHeader {
    justify-content: center;
  }
  .mainHeader img {
    display: none;
  }
  .navbar {
    flex-flow: column;
    min-width: 40%;
    transition: all 0.4s;
    text-align: center;
  }
  h1 {
    font-size: 20px;
    text-align: center;
  }
  .nomeLogo {
    display: block;
  }
  .nomeLogo h1 {
    padding: 0;
  }
}
