@font-face {
  font-family: Baskerville;
  src: url(../font/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

/** {
  font-family: "Baskerville", sans-serif, "Times New Roman", Times, serif;
}*/

/*----Default Values----*/

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Baskerville", sans-serif, "Times New Roman", Times, serif;
  line-height: 1em;
  color:#82694e;
  background-color: #fff3f1;
}

a {
  all: unset;
  font-size: 0.85rem;
  cursor: pointer;
  color: #fff3f1;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  font-style: bold;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: #ad9479
}

/*-----Header-------*/

header {
  margin: 0;
  padding: 8px;
  background-color: #ede5e3;
}
/* 
a {
  all: unset;
} */

.userBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 20px;
  /* font-size: 14px; */
}

.userBar a {
  display: flex;
  min-width: 60px;
  padding: 8px;
  justify-content: center;
  background-color: #ad9479;
  /* color: #ede5e3; */
}

.mainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  /* font-size: 24px; */
  font-style: bold;
  justify-content: space-between;
}

.mainHeader img {
  max-height: 120px;
  max-width: 120px;
  border-radius: 40px;
}

.navbar {
  display: flex;
  padding: 8px;
  /* font-size: 14px; */
  gap: 8px;
  background-color: #ad9479;
  /* color: #ede5e3; */
}

.sloganContainer {
  /* color: #82694e; */
}

.sloganContainer h1 {
  margin: 0;
  padding: 8px 0;
  /* font-size: 40px; */
}

.sloganContainer h2 {
  margin: 0;
  padding: 8px 0;
  /* font-size: 18px; */
}

/*------Nosso Hotel-----*/

.bloco-sobre-nosso-hotel {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0 10%;
  align-items: center;
}

.imagem {
  width: 100%;
}

.nosso-servico {
  width: 300px;
  height: 400px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sobre-nosso-hotel {
  /* font-size: 24px; */
  /* color: #82694e; */
}

.texto-maior {
  /* font-size: 20px; */
  /* color: #82694e; */
}

.texto {
  text-align: justify;
  /* color: #82694e; */
}

.botao-saiba-mais {
  font-size: 20px;
  display: flex;
  max-width: 100px;
  /* font-size: 15px; */
  text-align: center;
  /* color: #fff; */
  padding: 10px 30px;
  background-color: #82694e;
  margin: 0 auto;
  border-radius: 10px;

/*-----Gallery-------*/
.galeria {
  padding-bottom: 50px;
  background-color: #ede5e3;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

div.gallery {
  border-radius: 15px;
  float: left;
  padding: 15px;
  width: 100;
}

div.gallery img {
  height: auto;
  border-radius: 15px;
}

#acomodacoesfundo {
  height: 10px;
  background-size: cover;
  background-image: url(../css/acomodacao5.jpg);
  background-attachment: fixed;
  border-top: 2px solid #c0501980;
  border-bottom: 2px solid #c0501980;
  padding: 200px;
  display: block;
  filter: grayscale(40%);
  border-radius: 0 0 10px 10px;
}

#acomodacoes h2 {
  /* color: #82694e; */
  text-align: center;
  padding-top: 10px;
}

div.desc {
  padding: 5px;
  text-align: center;
  text-decoration: overline;
  /* color: #82694e; */
}

div.gallery img:hover {
  transform: scale(1.2);
  z-index: index 3;
  padding: 10px;
}

/*Área de Serviços*/

/*Título de Serviços*/
.h2Color {
  /* color: #82694e; */
  text-align: center;
  background-color: rgb(237, 229, 227);
}

/*Subtítulo de Serviços*/
.h1Color {
  /* color: #ad9479; */
  text-align: center;
}

/*Textos descritivos de Serviços*/
.textos {
  /* color: #8a6e4b; */
  /* font-size: medium; */
  text-align: justify;
}

/*--- FOOTER ---*/
/* -- DIV-CONTINF -- */
div.div-continf {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;

div.div-continf h3 {
  color: #82694E;
}

/*-- CONTATO --*/

form.form-contatos {}

#name {
  background: none;
  border: 0;
  top: 0px;
  border-width: 2px;
  border-bottom-width: 1px;
  border-bottom-color: #82694E;
  border-bottom-style: solid;

#email {
  background: none;
  border: 0;
  top: 0px;
  border-width: 2px;
  border-bottom-width: 1px;
  border-bottom-color: #82694E;
  border-bottom-style: solid;
}

#message {
  padding-bottom: 70px;
  background: none;
  border: 0;
  top: 0px;
  border-width: 2px;
  border-bottom-width: 1px;
  border-bottom-color: #82694E;
  border-bottom-style: solid;
}

#button {
  border: none;
  background-color: #82694E;
  color: rgb(237, 229, 227);
  padding: 5px 15px;
  text-align: center;
  margin: 7px;
  cursor: pointer;
  -webkit-border-radius: 100px;
}

/*-- INFORMAÇÕES --*/

div.informacoes {
  background-color: rgb(237, 229, 227);
  color: #82694E;
  text-align: center;
}

/* -- DIV MNR -- */

div.div-mnr {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

/* -- COPYRIGHT -- */

div.copyright {
  text-align: center;
  color: #82694E;

/* Gastronomia */
.gastronomia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0 10%;
  align-items: center;
}

.gastronomia .imagem {
  width: 30%;
}

.gastronomia .texto {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4rem;
  color: #82694e;
}

/*Responsividade*/

/*@media screen and (min-width: 992px) {
  div.gallery {
    padding: 5px;
    max-width: 800px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}*/

/*
@media screen and (min-width: 748px) {
    width: 100%;
    height: auto;
    padding: 30px;
}
