@charset "utf-8";
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
}

div#corpo{
    width: 950px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    /* padding: 10px; */
}

/* p {
    text-align: justify;
    text-indent: 50px;
} */

a{
    color: #606060;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

header#cabecalho {
    background-color: #EDE5E3;
    height: 400px;
    padding: 10px;
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #82694E;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
header#cabecalho h2{
    font-family: Arial, sans-serif;
    font-size: 15pt;
    color: #82694E;
    padding: 0px;
    margin-top: 0px;
    text-transform: uppercase;
}

/*Formatação do Menu*/
nav#menu{
    display: block;
    height: 80px;
}
nav#menu ul{
    list-style: none; /*Retira as bolinha no menu*/
    position: absolute;
    top: 60px;
    right: 490px;
}
/*Menu de forma horizotal*/
nav#menu li{
    display: inline-block; /*Os menus serão exibidos em uma unica linha*/
    background-color: #AD9479; /*Uma cor no fundo do menu*/
    padding: 8px; /*Espaço entre os menus mas dentro*/
    margin: -3px; /*O espaço entre os menus mas fora*/
    transition: background-color 1s;
}
nav#menu li:hover{
    background-color: #82694E;
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color: #EDE5E3;
    text-decoration: none;
}
nav#menu a:hover{
    color: #ffffff;
    font-weight: bold;
}

nav#menu #select {
    font-weight: bold;
    background-color: #82694E;
}


section#sobre {
    height: 500px;
    padding: 10px;
}

section#sobre div {
    width: 350px;
    margin-left: 450px;
    margin-top: 40px;
}

section#sobre p {
    text-align: justify;
}

section#sobre h2 {
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: #82694E;
    padding: 0px;
    margin-top: 0px;
}

section#sobre h3 {
    font-family: Arial, sans-serif;
    font-size: 15pt;
    color: #82694E;
    padding: 0px;
    margin-top: 0px;
}

section#sobre button {
    background-color: #AD9479;
    color: #fff;
    padding: 6px 10px;
    border: none;
    text-align: center;
    width: 200px;
    font-weight: bold;
}

section#sobre img {
    width: 300px;
    height: 378px;
    /* position: fixed; */
    margin-top: -385px;
    margin-left: 100px;
}


/* formatacao do acomodacao */

section#acomodacoes {
    height: 550px;
    background-color: #EDE5E3;
    align-items: center;
}

section#acomodacoes h2 {
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: #82694E;
    padding: 0px;
    padding-top: 10px;
    text-align: center;
}

section#acomodacoes button {
    background-color: #AD9479;
    color: #fff;
    padding: 6px 10px;
    border: none;
    text-align: center;
    width: 200px;
    font-weight: bold;
    top: 10px;
    margin-left: 370px;
}

ul#album-fotos {
    width: 700px;
    margin: 0px 0px 0px 130px;
    padding: 10px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #fff;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    -webkit-transition: all .4s ease-in;
}

ul#album-fotos li span {
    opacity: 0;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,0.3);
    font-size: 9pt;
    line-height: 360px;
    padding: 5px;
}

ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}

ul#album-fotos li:hover span {
    opacity: 1;
}

ul#album-fotos li#foto01 {
    background: url('restaurante.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
    background: url('restaurante.png') no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto03 {
    background: url('hackerRank.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
    background: url('hackerRank.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto05 {
    background: url('hackerRank.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto06 {
    background: url('hackerRank.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #fff;
}

ul#album-fotos li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}


section#gastronomia {
    height: 400px;
    padding: 10px;
}

section#gastronomia div#detalhe {
    width: 350px;
    margin-left: 150px;
    margin-top: 30px;
}

section#gastronomia div#carouselExampleControls {
    width: 100px;
    height: 100px;
}

section#gastronomia p {
    text-align: justify;
}

section#gastronomia h2 {
    font-family: Arial, sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: #82694E;
    padding: 0px;
    margin-top: 0px;
}


section#gastronomia img {
    width: 300px;
    height: 378px;
    /* position: fixed; */
    margin-top: -385px;
    margin-left: 100px;
}
