@use "variaveis" as v;
@use "mixins" as mx;
@use "extends";

@font-face {
  font-family: Baskerville;
  src: url(../font/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

body {
  color: v.$fontColor;
  background-color: v.$background;
  font-family: v.$fonte;
}

a {
  all: unset;
  cursor: pointer;
  color: v.$background;
  transition: background-color 0.6s ease;
}

h1 {
  @include mx.h1;
}

h2 {
  @include mx.h2;
}

.principal {
  margin: 1px 30px;
}
.nomeLogo {
  display: flex;
  float: left;
}

/*-----Header-------*/

header {
  @include mx.box;
  background-image: url(mx.bgImage(v.$bgHeader));
  background-attachment: fixed;

  & section {
    width: 100%;
  }
}

.userBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 1rem;
  padding: 20px 40px 20px 20px;
  gap: 0.3rem;

  & a {
    display: flex;
    min-width: 60px;
    padding: 0.5rem;
    justify-content: center;
    background-color: v.$backgroundNav;
    border-radius: 0.5rem;
  }

  & a:hover {
    font-weight: bold;
    background-color: v.$fontColor;
  }
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;

  & img {
    max-height: 8rem;
    max-width: 8rem;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.3rem;

  & a {
    padding: 0.5rem;
    background-color: v.$backgroundNav;
    border-radius: 0.5rem;
    font-size: 1rem;
  }

  & a:hover {
    font-weight: bold;
    background-color: v.$fontColor;
  }
}

/****  Sobre Nosso Hotel ****/

.container-grid,
.container-grid-gastro {
  @include mx.container;

  & div img {
    @include mx.img;
  }

  & p {
    @include mx.p;
  }

  & div button {
    @include mx.button;
  }

  & button:hover {
    transform: scale(1.1);
  }
  & img:hover {
    transition: 400ms;
    opacity: 0.8;
  }
}
/*------ Gastronomia -----*/

.container-grid-gastro div h2 {
  padding: 0 2.5rem 0rem 1rem;
}

/*-----Gallery-------*/

.galeria {
  background-color: v.$backgroundServicos;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

div.gallery {
  float: left;
  padding: 15px;
  width: 100;

  & img {
    width: 200px;
    height: auto;
    border-radius: 15px;
  }

  & img:hover {
    transform: scale(1.2);
  }
}

#acomodacoesfundo {
  background-size: cover;
  background-image: url(mx.bgImage(v.$acomodacoesFundo));
  background-attachment: fixed;
  border-top: v.$border;
  border-bottom: v.$border;
  padding: 200px;
  display: block;
  filter: grayscale(40%);
  background-position: 150px;
}
div.desc {
  padding: 20px;
  text-align: center;
  text-decoration: overline;
  font-weight: bold;
  /* color: v.$fontColor; */
}

.container-servicos {
  @include mx.container;
}

.container-servicos2 {
  padding: 20px 20px 20px 20px;
}

/*Bloco com todo o conteúdo de Serviços*/
#servicos {
  background-color: v.$backgroundServicos;
  padding-top: 20px;
  padding-bottom: 50px;
}

.saibaMais {
  text-align: right;
  display: block;
  font-size: small;
  color: v.$fontColor;
  text-decoration: underline;
}

.saibaMais:hover {
  cursor: pointer;
}

/*.containerS1 {
  display: grid;
  grid-template-columns: 35% 65%;
}*/

.divIcon {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: v.$fontColor;
  padding: 0px 0px 0px 80px;
  font-size: 1.5rem;

  & h2 {
    width: 100%;
    text-align: justify;
    font-size: v.$fontTexto;
  }
}
.textos {
  text-align: jus;
}

div.navPos {
  background-color: v.$fontColor;
  width: 60px;
  height: 130px;
  position: fixed;
  right: 2px;
  top: 10vh;
  padding: 0 0vw 0 0vw;
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  z-index: 1;

  & ul {
    padding: 0 0 0 15px;
    list-style: none;
  }

  & ul li {
    margin: 0 0 0 0;
    text-align: left;
    padding: 10px 0 0 9px;
  }

  & ul li a {
    font-size: 0.9em;
    color: #fff;
  }
}
/*--- FOOTER ---*/
/* -- CONTINF -- */
div.continf {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  background-color: v.$backgroundServicos;
  font-size: 1.5rem;
}

/*-- CONTATO --*/

.div-contatos {
  padding: 1rem;
  text-align: center;
}

.contatos {
  width: 60%;
  background: none;
  border: none;
  border-width: 2px;
  border-bottom-width: 1px;
  border-bottom-color: v.$fontColor;
  border-bottom-style: solid;
  font-size: 1rem;
}

#message {
  padding-bottom: 6rem;
}

#button {
  font-size: 1.2rem;
  border: none;
  background-color: v.$fontColor;
  color: #ffffff;
  padding: 8px 24px;
  margin: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
}

/*-- INFORMAÇÕES --*/
div.informacoes {
  padding: 13% 10% 10% 24%;
  color: v.$fontColor;
  text-align: left;
  font-size: 80%;
}

select {
  color: #666462;
}

div.redes-sociais {
  font-size: 2.3rem;
  padding-left: 15%;
}

/* -- DIV MNR -- */

div.div-mnr {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

/* -- COPYRIGHT -- */

div.copyright {
  text-align: center;
  color: v.$fontColor;
}

/* ---------- responsive ----------------------- */
@media (max-width: 800px){
  @include mx.midia;  
}
