$fonte: "Baskerville";
$bgHeader: '../../images/imagemHeader.jpg';
$acomodacoesFundo:'../../images/acomodacoes7.jpg';
$fontTexto: 1.5rem ;
$fontColor:#82694e;
$fontTitulo: 2.25rem;
$colorNav: #f0eae3;
$border: 2px solid #c0501980;
$backgroundServicos:#ede5e3;
$background: #fff3f1;
$backgroundNav:#ad9479;
$borderRadius:10px;



* {
  font-family: $fonte;
  box-sizing: border-box;
  line-height: 1.5rem;
}

